<p>&nbsp;Please input your name</p>

<form enctype="text/plain" id="1" method="get" name="Input">&nbsp;</form>

<p>Please input your CWID.</p>

<form enctype="text/plain" method="get" name="input2">&nbsp;</form>

<hr />
<p>Please Input your email:</p>

<form enctype="text/plain" method="get" name="EmailForm">&nbsp;</form>

<p>Please chose your phone provider:</p>

<p><input checked="checked" name="ATNT" type="radio" />&nbsp;ATNT</p>

<p><input checked="checked" name="Verzion" type="radio" />Verzion</p>

<p><input checked="checked" name="Tmobile" type="radio" />T-Mobile</p>

<p>&nbsp;</p>

<p><input name="Finished" type="submit" /></p>

<p>&nbsp;</p>
