<html>
    <form method="POST">
    <body>
        <div id="tutor-data-FLASK">{{ tutorData }}</div>
        <div id="tutor-data-container">
            <h1>CHANGE TUTOR INFORMATION</h1>
            <label>Enter your CWID as a Tutee:</label>
            <input type="text" name=tutorIDChange>
        </div>
        <div id="name-change-container">
            <label>Enter your new name you would like to change:</label>
            <input type="text" name="tutorNameChange">
            <input type="submit" name="submit">
        </div>
    </body>
    </form>
</html>
